VITE_APP_TITLE="NMBGMR Data Manager"
VITE_NMBGMR_AMP_API_URL=
VITE_NMBGMR_GEOTHERMAL_API_URL=
VITE_REFINE_PROJECT_ID=
VITE_MAPBOX_TOKEN=
VITE_FIEF_BASE_URL="https://fief.newmexicowaterdata.org"
VITE_FIEF_CLIENT_ID=
